.results-container {
  background-image: linear-gradient(#6B9AC4, #EFF2F1);
  /* opacity: 0.82; */
  border: 2px solid lightblue;
  width: 50%;
  max-width: 50em;
  margin-top: 4%;
  padding: 3%;
  padding-bottom: 2%;
  border-radius: 7px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

table {
  justify-content: center;
  width: 90%;
  padding: 1%;
  border-collapse: collapse;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: -1px 2px 6px 4px rgb(101 101 101 / 52%);
}

th {
  color: purple;
  border-bottom: 2px solid gray;
  padding: 2.5%;
}

td {
  color: #039e03;
  margin: 1%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

tr {
  margin-top: 5%;
}

tr:nth-child(even) {
  background-color: #eae4e4;
}

tr:hover {
  background-color: #f7E09E;
}

.results-table {
  background-color: whitesmoke;
  margin: 0em 2em 2em 2em;
}

.text-left {
  text-align: start;
  padding-left: 4%;
  font-weight: 500;
}

.home-btn {
  margin-top: 15px;
  padding: 10px 40px;
  border-radius: 5px;
  align-self: center;
  cursor: pointer;
  border: 2px solid #333333;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: .8;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  color: #333333;
}

.results-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-bottom button {
  margin-top: 0%;
  margin-bottom: 1%;
}

.savings-display-bar {
    margin-top: 3em;
}