.configure-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      rgba(6, 18, 90, 0.2),
      rgba(14, 44, 99, 0.2)
    ),
    url("https://texturify.com/content/10769/Sky%20Background-56.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: auto;
  min-height: 90vh;
  width: 100%;
  padding: 50px 0;
}

.label-input-container {
  display: flex;
  justify-content: space-between;
}

.label-input-container input {
  width: 10em;
  margin-bottom: 4%;
}

.label-input-container label {
  padding-right: 5%;
  margin-bottom: 2%;
}

.configure-selects {
  width: 10.6em;
  margin-bottom: 4%;
}

.error {
  color: red;
  font-weight: bold;
}