.historical-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.historical-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  border: 1px solid black;
  padding: 2em;
}

.historical-form h3 {
  margin-top: 0.1em;
}

.input-columns-container {
  display: flex;
  width: 55%;
  justify-content: space-between;
  margin-top: 2em;
}

.historical-inputs-column {
  display: flex;
  flex-direction: column;
}

.month-label-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110%;
  margin: 0.5em 0em;
}

.month-label-input input {
  /* font-size: 1.2em; */
  padding: 0.5em ;
}

.historical-buttons-container {
  margin: 2em;
  display: flex;
}

.historical-buttons {
  margin: 1em;
  padding: 0.5em 1.5em;
  /* width: 40%; */
}
