.historical-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2.5%;
}

.historical-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  border: 1px solid black;
  padding: 2em;
  background-color: whitesmoke;
  background-image: linear-gradient(#6B9AC4, #EFF2F1);
  opacity: 0.82;
  border: 2px solid lightblue;
  border-radius: 10px;
}

.historical-form h3 {
  margin-top: 0.1em;
}

.input-columns-container {
  display: flex;
  width: 85%;
  justify-content: space-between;
  margin-top: 2em;
}

.historical-inputs-column {
  display: flex;
  flex-direction: column;
  width: 43%;
}

.month-label-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.5em 0.5em;
  color: white;
}

.month-label-input label {
  font-weight: bold;
  font-size: 1.5em;
}

.month-label-input input {
  font-size: 1.2em;
  padding: 0.5em ;
  width: 40%;
}

.historical-buttons-container {
  margin: 2em;
  display: flex;
}

.historical-buttons {
  margin: 1em;
  padding: 0.5em 1.5em;
  /* width: 40%; */
}

