/* button {
  font-family: 'Lobster', cursive;
  height: 2em;
  width: 5.5em;
  margin-top: 25px;
  font-size: 1.2em;
  color: pink;
  background-color: #292D3E;
  border: 1px solid #1D9AF2;
  border-radius: 4px;
  padding: 0 10px;
  cursor: pointer;
} */
