button:hover {
  cursor: pointer;
}


.app-container {
  background-image: linear-gradient(
      rgba(6, 18, 90, 0.2),
      rgba(14, 44, 99, 0.2)
    ),
    url("https://texturify.com/content/10769/Sky%20Background-56.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
  height: auto;
  /* min-height: 90vh;  */
  width: 100%;

}
.background-container {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  padding: 6% 0;
}
