.configure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  height: auto;
  min-height: 90vh;
  width: 100%;
  padding: 50px 0;
}
.larger-chart-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.configure-selects {
  margin-top: 0.2em;
  margin-bottom: 0.7em;
}

.configure-form-item label {
  font-weight: bold;
  color: white;
}

.single-chart-box {
    background-color: whitesmoke;
    padding: 1em;
    margin: 1em;
    height: 40vh;
    width: 40vw;
    text-align: center;
}

.savings-display-bar {
  background-color: whitesmoke;
  border: 2px solid rgba(75,192,192,1);
  border-radius: 5px;
  width: 90%;
  text-align: center;
}
